<!DOCTYPE html>
<html>
<head>
    <title>test title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% load menu_tags %}

    <header>
        <nav>
            <ul>
                {% draw_menu 'main_menu' as menu_data %}
                {% include "menu.html" with menu_tree=menu_data.menu_tree %}
            </ul>
        </nav>

        <div>
            {% draw_menu 'add_menu' as menu_data %}
            {% include "menu.html" with menu_tree=menu_data.menu_tree %}
        </div>
    </header>
    
    <div>
        {% block content %}
        <h2>Задача:</h2>
        <p>Нужно сделать django app, который будет реализовывать древовидное меню, соблюдая следующие условия:</p>
        <ol>
        <li>Меню реализовано через шаблонный тег.</li>
        <li>Все, что над выделенным пунктом - развернуто. Первый уровень вложенности под выделенным пунктом тоже развернут.</li>
        <li>Информация о меню хранится в базе данных.</li>
        <li>Редактирование меню осуществляется в стандартной административной панели Django.</li>
        <li>Активный пункт меню определяется исходя из URL текущей страницы.</li>
        <li>Меню на одной странице может быть несколько. Они определяются по названию.</li>
        <li>При клике на пункт меню происходит переход по заданному в нем URL. URL может быть задан как явно, так и через именованный URL.</li>
        <li>На отрисовку каждого меню требуется ровно 1 запрос к базе данных.</li>
        </ol>
        
        <p>Нужен django app, который позволяет добавлять меню в базу данных через административную панель, и рисовать меню на любой нужной странице по названию.</p>
        
        <p>Пример использования шаблонного тега для отображения меню: draw_menu 'main_menu'</p>
        
        <p>При выполнении задания следует использовать только Django и стандартную библиотеку Python.</p>
        <p>При решении задачи у вас не должно возникнуть вопросов. Если возникают вопросы, вероятнее всего, у вас недостаточно знаний.</p>
        
        <p>Решение задания следует выложить на GitHub.</p>

        <p>Login/pw для входа в админ панель</p>
        <p>Admin_UpTrader / AdminUpTrader1</p>
        {% endblock %}
    </div>
    
    <footer>
    </footer>
</body>
</html>
